.html {
    background-color: rgba(224, 226, 232, 1); 
}

.body {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;  /* Centraliza verticalmente */
    height: 100vh;  /* Ocupa a tela inteira */
    background: lightgray;    
}

.Main {
    width: 300px;
    height: 300px;
    transform: translate(8%,75%);
    text-align: center;
    background-color: #f8f8f8; 

}


.alteracoes {
    text-align: center;
    margin-bottom: 20px;
}

.opcoes{
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    transform: scale(1.2);
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

#input-texto{
    width: 250px;
    height: 40px;
    background-color: rgba(224, 226, 232, 1);

}

#input-email{
    width: 250px;
    height: 40px;
    background-color: rgba(224, 226, 232, 1);

}

#input-data{
    width: 252px;
    height: 40px;
    background-color: rgba(224, 226, 232, 1);
}

.botoes {
    padding-top: 20px;
    border: none;
    
}
.botao{
    border: none;
    ;
}


