

.body {
    height: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;  
    background-color: rgba(224, 226, 232, 1); 
}

.Main {
    width: 300px;
    height: 300px;
    transform: translate(8%,75%);
    text-align: center;
    background-color: #f8f8f8; 

}


.alteracoes {
    text-align: center;
    margin-bottom: 20px;
}



h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

#senha-atual{
    width: 250px;
    height: 40px;
    background-color: rgba(224, 226, 232, 1);

}

#nova-senha{
    width: 250px;
    height: 40px;
    background-color: rgba(224, 226, 232, 1);

}

#repetir-senha{
    width: 250px;
    height: 40px;
    background-color: rgba(224, 226, 232, 1);
}

.botoes{
    padding-top: 20px;
}



