* {
    font-family: roboto;
}

.carrousel {
    display: flex;
    justify-content: space-around;
}

.loja {
    display: flex;
    margin-top: 10px;
    margin-left: 12px;
}

.loja a{
    margin-top: 8px;
    margin-left: 4px;
}


#populares p {
    font-size: 22px;
    margin-left: 10px;
}

#populares img {
    border-radius: 28px;
    margin-left: 28px;
}

body {
    height: 800px;
    width: 360px;
    margin: 0;
}

.botoes{
    background-color: #E0E2E8;
    display: flex;
    justify-content: space-evenly;
}

#top-bar1 {
    display: flex;
    color: #E0E2E8;
    justify-content: space-between;
    margin-bottom: 10px;
}

.imgseta{
    margin: 10px;
}
#top-bar2 {
    display: flex;
    color: #E0E2E8;
    background-color: #E0E2E8;
    justify-content: space-between;
    margin-bottom: 10px;
}


body#login{
    height: 800px;
    width: 360px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-logo{
    margin-bottom: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input{
    width: 328px;
    height: 56px;
    margin-bottom: 10px;
    border: 1px solid #2C638B;
    border-radius: 4px;
}

.login-form button{
    width: 328px;
    height: 40px;
    background-color: #2C638B;
    border: 0;
    border-radius: 20px;
    color: white;
}

.login-form a{
    color: #2C638B;
    text-decoration: none;
    margin-top: 20px;
}

#registro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    margin-left: 20px;
}
.imgcadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botão-entrar-com{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20;
}
.bec{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #1a73e8;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    color: #1a73e8;
    transition: all 0.3s ease-in-out;
    min-width: 160px;
    text-align: center;
}
.bec:hover{
    background-color: #1a73e8;
    color: white;
}
.form-container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input{
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.genero{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}
.botãoCadas{
    display: flex;
    justify-content: center;
}
.bt-cadastro{
    width: 90%;
    padding: 10px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}