* {
    font-family: roboto;
}

.carrousel {
    display: flex;
    justify-content: space-around;
}

.loja {
    display: flex;
    margin-top: 10px;
    margin-left: 12px;
}

.loja a{
    margin-top: 8px;
    margin-left: 4px;
}


#populares p {
    font-size: 22px;
    margin-left: 10px;
}

#populares img {
    border-radius: 28px;
    margin-left: 28px;
}

body {
    height: 800px;
    width: 360px;
    margin: 0;
}

.botoes{
    background-color: #E0E2E8;
    display: flex;
    justify-content: space-evenly;
}

#top-bar {
    display: flex;
    color: #E0E2E8;
    background-color: #E0E2E8;
    justify-content: space-between;
    margin-bottom: 10px;
}




body#login{
    height: 800px;
    width: 360px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-logo{
    margin-bottom: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input{
    width: 328px;
    height: 56px;
    margin-bottom: 10px;
    border: 1px solid #2C638B;
    border-radius: 4px;
}

.login-form button{
    width: 328px;
    height: 40px;
    background-color: #2C638B;
    border: 0;
    border-radius: 20px;
    color: white;
}

.login-form a{
    color: #2C638B;
    text-decoration: none;
    margin-top: 20px;
}

#registro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}