body{
    height: 800px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-logo{
    margin-bottom: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input{
    width: 328px;
    height: 56px;
    margin-bottom: 10px;
    border: 1px solid #2C638B;
    border-radius: 4px;
}

.login-form button{
    width: 328px;
    height: 40px;
    background-color: #2C638B;
    border: 0;
    border-radius: 20px;
    color: white;
}

.login-form a{
    color: #2C638B;
    text-decoration: none;
    margin-top: 20px;
}